h1{
  text-align:center;
  color: #0e7bf0;
}

h2{background: linear-gradient(transparent 80%, #0e7bf0 90%);
}

h3{background: linear-gradient(transparent 80%, #d7f4f5 90%);
}

h4{background: linear-gradient(transparent 80%, #d7f4f5 90%);
}
